.header{
  height:70px;
  background: lightblue;
  box-shadow: gray 2px 2px 2px ;
}
.data-div{
  border: black 2px;
}
.userRow{

}
.userData{
  overflow: hidden;
}
.footer{
  height:100px;
  background:black;
  color:white;
  text-align: center;

}
.space{
  height:200px;
}
a{
  text-decoration: none;
}
a:hover{
  color:yellow;
}
